
$default-width: 44px;
$default-height: 44px;
$default-color: #ff6f61;
$default-bell-color: #fff;
$compact-width: 33px;
$compact-height: 33px;
$transition-duration: 0.2s;
$notification-icon-size: 53px;

@mixin collapsible($transform-origin) {
  transition: transform $transition-duration ease-in-out;
  transform-origin: $transform-origin;
  transform: scale(1);
}

@mixin bottom-arrow() {
  &:before, &:after {
    position: absolute;
    top: 100%;
    left: 11px;
    border: 11px solid transparent;
    border-top-color: white;
    content: ' ';
    width: 0;
    height: 0;
    box-sizing: border-box;
  }
  &:before {
    left: 10px;
    border-width: 12px;
    border-top-color: #ccc;
  }
}

.wonderpush-hidden {
  display: none !important;
}
.wonderpush-bell {
  div:empty {display: revert;} // Fix for shopify
  z-index: 10000;
  direction: ltr;
  color: #333;
  font: 13px arial;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $default-height;
  transition: all $transition-duration ease-in;
  transform-origin: center;
  &.wonderpush-deactivated {
    transform: scaleY(0);
  }

  a {
    color: $default-color !important;
    text-decoration: none !important;
  }

  .wonderpush-collapsed {
    transform: scale(0) !important;
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  }

  &.wonderpush-discrete {
    height: $compact-height;
    .wonderpush-icon-container {
      border-radius: $compact-width / 2;
      width: $compact-width;
      opacity: 0.5;
    }

    &:hover {
      height: $default-height;
      .wonderpush-icon-container {
        border-radius: $default-width / 2;
        width: $default-width;
        opacity: 1;
      }
    }
  }

  .wonderpush-icon-container {
    cursor: pointer;
    transform-origin: center center;
    transform: scale(1);
    transition: all $transition-duration ease-in;
    width: $default-width;
    height: 100%;
    border-radius: $default-width / 2;
    background: $default-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .wonderpush-icon {
      mask-image: url(./bell.svg);
      -webkit-mask-image: url(./bell.svg);

      mask-size: contain;
      -webkit-mask-size: contain;

      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;

      mask-position: center center;
      -webkit-mask-position: center center;

      background: $default-bell-color;
      width: 60%;
      height: 60%;
      display: block; // for Shopify...
    }

    .wonderpush-icon-badge {
      @include collapsible(center center);
      font-size: 0.8em;
      width: 1.4em;
      height: 1.4em;
      display: flex;
      border-radius: 1em;
      background: black;
      border: 1px solid white;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 10%;
      top: 10%;
      color: white;
    }
  }

  .wonderpush-paragraph {
    @include collapsible(left);

    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 14px;
    font-family: arial, sans-serif;
    border-radius: 4px;
    padding: 0.7em 1em;
    margin-left: 12px;
    position: relative;
    &:after {
      position: absolute;
      right: 100%;
      bottom: 0.77em;
      border: 7px solid transparent;
      border-right-color: rgba(0,0,0,0.8);
      content: ' ';
      width: 0;
      height: 0;
      box-sizing: border-box;
    }
  }

  .wonderpush-help {
    @include collapsible(bottom left);
    background-size: contain;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    width: 200px * 1.4;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: $default-height + 15;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    @include bottom-arrow();
    &:not(.wonderpush-collapsed)[style*="--uncollapsed-background-image"] {
      background-image: var(--uncollapsed-background-image);
    }
  }

  .wonderpush-dialog {
    @include collapsible(bottom left);
    position: absolute;
    width: max-content;
    min-width: 240px;
    left: 0;
    bottom: $default-height + 15;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    @include bottom-arrow();


    .wonderpush-dialog-title {
      color: #333;
      font-weight: bold;
      text-align: center;
      font-size: 1.1em;
      padding: 1em;
      border-bottom: 1px solid #e0e0e0;
    }

    .wonderpush-dialog-button-container {
      margin: 10px;
      display: flex;
      justify-content: stretch;
      align-items: center;
    }
    .wonderpush-dialog-settings-button {
      width: 25px;
      height: 25px;
      background-color: #aaa;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #777;
      }
      mask-image: url(./settings.svg);
      -webkit-mask-image: url(./settings.svg);
      mask-size: contain;
      -webkit-mask-size: contain;
      margin-right: 5px;
      cursor: pointer;
    }

    .wonderpush-dialog-button {
      padding: 7px 10px;
      flex-grow: 1;
      border-radius: 4px;
      background-color: $default-color;
      color: white;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
    }

    .wonderpush-notification {
      margin: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
      height: $notification-icon-size + 10;
      box-shadow: 0 0 3px rgba(0,0,0,0.3);
      .wonderpush-notification-icon {
        width: $notification-icon-size;
        height: $notification-icon-size;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        background-color: #f3f3f3;
        background-size: cover;
      }

      @mixin wonderpush-notification-paragraph() {
        height: 6px;
        background-color: #eee;
        margin: 8px 5px 0 $notification-icon-size + 10;
      }

      .wonderpush-notification-paragraph-small {
        @include wonderpush-notification-paragraph();
        width: 80px;
      }
      .wonderpush-notification-paragraph-medium {
        @include wonderpush-notification-paragraph();
        width: 100px;
      }
      .wonderpush-notification-paragraph-large {
        @include wonderpush-notification-paragraph();
        width: 120px;
      }
    }

    .wonderpush-dialog-advanced-settings {
      transition: all $transition-duration ease-in-out;
      height: 57px;
      overflow: hidden;
      box-sizing: content-box;
      &.wonderpush-collapsed {
        height: 0;
        padding: 0;
      }

      border-top: 1px solid #efefef;
      padding: 15px;
      text-align: center;

      .wonderpush-dialog-advanced-settings-description {
        font-size: 12px;
      }
      .wonderpush-dialog-advanced-settings-button-container {
        margin: 10px 0;
        display: flex;
        justify-content: stretch;
        align-items: center;
        .wonderpush-dialog-advanced-settings-download-button {
          margin-right: 5px;
        }
        .wonderpush-dialog-advanced-settings-clear-button,
        .wonderpush-dialog-advanced-settings-download-button {
          opacity: 0.7;
          transition: all 0.15s ease-in-out;
          &:hover {
            opacity: 1;
          }
          cursor: pointer;
          border-radius: 4px;
          padding: 3px 5px;
          text-align: center;
          flex-grow: 1;
          background-color: white;
          color: $default-color;
          font-size: 0.9em;
          border: 1px solid $default-color;
          text-transform: uppercase;
        }
      }
      .wonderpush-dialog-advanced-settings-fineprint {
        font-size: 10px;
        color: #aaa;
      }
    }
  }

  &.wonderpush-right {
    left: unset;
    right: 20px;
    flex-direction: row-reverse;
    .wonderpush-paragraph {
      @include collapsible(right);
      margin-left: unset;
      margin-right: 12px;
      pointer-events: none; // Ignore mouse events, click-through
      &:after {
        position: absolute;
        right: unset;
        left: 100%;
        border-right-color: transparent;
        border-left-color: rgba(0,0,0,0.8);
      }
    }

    .wonderpush-dialog {
      @include collapsible(bottom right);
      left: unset;
      right: 0;
      &:after {
        left: unset;
        right: 11px;
      }
    }

    .wonderpush-help {
      @include collapsible(bottom right);
      left: unset;
      right: 0;
      &:after {
        left: unset;
        right: 11px;
      }
    }
  }
}
